.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgba(0, 0, 0, 0.12);
}
h1{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  font-size: 1.3rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.841);
}
.form-field{
  width: 50%;
  display: grid;
  grid-template-columns: 35% 60%;
}
.form-field label{
  margin: 0 .5rem;
}
.form-field input, .form-field select{
  border: 1px solid rgba(0, 0, 0, 0.386);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.841);
  padding: 0.3rem 1rem;
  font-style: italic;
}
button{
  font-size: 1.3rem;
  border: none;
  border-radius: 7px;
  padding: .45rem 2rem;
  background-color: rgb(13, 91, 225);
  color: white;
  cursor: pointer;
  margin-top: 3rem;
  opacity: 0.75;
}
button:hover{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}